.navigation {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 4rem;

    li {
        display: inline-block;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;

        &:hover {
            background-color: #eee;
        }


        a {
            display: inline-block;
            padding: 0 1rem;
            line-height: 4rem;
            text-decoration: none;
        }

        &.selected a {
            font-weight: bold;
        }
    }
}
