.navigation {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 4rem;
    z-index: 1000;

    li {
        display: inline-block;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        a {
            display: inline-block;
            padding: 0 1rem;
            line-height: 4rem;
            text-decoration: none;
            color: #666;

            &:hover {
                background-color: #eee;
                color: black;
            }
        }

        a.active {
            pointer-events: none;
            background-color: white;
            color: black;
        }
    }
}
